<launch>
    <node name="husky_rqt_dashboard" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find kimm_husky_gui)/config/husky_gui.perspective" />
    
    <arg name="rvizconfig" default="$(find kimm_mujoco_launch)/launch/urdf.rviz" />
	<param name="use_gui" value="true"/>
	<group ns ="ns0">
		<node name="robot_state_publisher" pkg="robot_state_publisher"
			type="robot_state_publisher" respawn="true">
			<param name="publish_frequency" value="1000" />
			<param name="rate" value="1000" />
		</node>
	</group>
	
</launch>
